.page-header {
  position: relative;

  border-bottom: 1px solid #ececec;

  &__container {
    @include flexCentered;
    justify-content: space-between;

    @media screen and (min-width: 1200px) {
      justify-content: space-between;
    }
  }
}

.page-header__logo {
  padding-top: 16px;
  padding-bottom: 16px;

  font-size: 24px;
  line-height: calc(28 / 24);

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: calc(31 / 26);
  }
}

//      Mobile menu  - start

@media screen and (max-width: 767.5px) {
  .menu-button {
    border: none;
    background-color: transparent;
    z-index: 2;
    cursor: pointer;

    &.is-open {
      position: absolute;
      top: 10px;
      right: 15px;
    }
    &__icon-cross {
      display: none;
    }

    &.is-open &__icon-cross {
      display: block;

      &:hover {
        fill: $accent-color;
      }
    }

    &.is-open &__icon-burger {
      display: none;
    }
  }
}

.menu-container {
  @media screen and (max-width: 767.5px) {
    display: none;

    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 48px 40px;

    background-color: $primary-white-color;

    &.is-open {
      display: block;
    }
  }

  @media screen and (min-width: 768px) {
    @include flexCentered;
    gap: 96px;
  }

  @media screen and (min-width: 1200px) {
    gap: 315px;
  }
}

@media screen and (min-width: 768px) {
  .page-header .menu-button {
    display: none;
  }
}

@media screen and (max-width: 479px){
  .menu-container{
    padding: 48px 20px;
  }

  .header-contacts__link.header-contacts__link--tel,
  .header-contacts__link.header-contacts__link--emeil{
    font-size: 20px;
  }

  .header-social{
    flex-wrap: wrap
  }
 
}


//   Mobile menu  - end

.main-nav__list {
  @extend %list;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 306px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 50px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 92px;
  }
}

.main-nav__item {
  position: relative;
}

.main-nav__link {
  @extend %link;

  color: $secondary-text-color;

  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  @media screen and (min-width: 768px) {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.main-nav__link--current {
  color: $accent-color;

  @media screen and (min-width: 768px) {
    &::after {
      content: '';

      position: absolute;
      left: 0;
      bottom: -1px;

      display: block;
      width: 100%;
      height: 4px;
      border-radius: 2px;

      background-color: $accent-color;
    }
  }
}

.header-contacts {
  @extend %list;
  flex-direction: column-reverse;
  gap: 32px;
  margin-bottom: 64px;

  @media screen and (min-width: 768px) {
    flex-direction: column;
    align-items: start;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 10px;

    color: $primary-text-color;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
}

.header-contacts__link {
  @extend %link;
  color: $primary-text-color;
  font-weight: 500;
  letter-spacing: 0.02em;

  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
}

.header-contacts__link--tel {
  font-size: 34px;
  line-height: calc(40 / 34);
  color: $accent-color;

  @media screen and (min-width: 768px) {
    @include flexCentered;
    font-size: 12px;
    line-height: calc(14 / 12);
    color: $primary-text-color;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: calc(16 / 14);
  }
}

.header-contacts__link--email {
  font-size: 24px;
  line-height: calc(28 / 24);

  @media screen and (min-width: 768px) {
    @include flexCentered;

    font-size: 12px;
    line-height: calc(14 / 12);
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: calc(16 / 14);
  }
}

.header-contacts__icon {
  @media screen and (max-width: 767.5px) {
    display: none;
  }
  margin-right: 10px;
  fill: $primary-text-color;
}

.header-social {
  @extend %list;
  display: flex;
  gap: 0;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header-social__item {
  padding-left: 10px;
  padding-right: 10px;

  &:first-child {
    padding-left: 0;
  }

  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.header-social__link {
  @extend %link;

  color: $primary-text-color;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: $accent-color;
}
