.feature-list {
  @extend %list;
  flex-direction: column;
  //min-width: 100%;
}

.feature-list__icon-wrapper {
  @include flexCentered;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;

  background: $secondary-bg-color;
}

.feature-list__subtitle {
  margin-bottom: 10px;

  font-size: 14px;
  color: $secondary-text-color;
  text-align: center;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-list__text {
  line-height: 1.71;
}

@media screen and (min-width: 768px) {
  .feature-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .feature-list__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .feature-list__subtitle {
    text-align: left;
  }
}


@media screen and (min-width: 1200px) {
  .feature-list__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
