.solutions-section {
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: auto;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero-img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-color: #c4c4c4;
  text-align: center;
}

.solutions-section__title {
  margin: 0 auto 30px;
  width: 696px;

  color: $primary-white-color;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.solutions-section__button {
  width: 216px;
  height: 50px;

  color: $primary-white-color;
  background: $accent-color;

  &:hover,
  &:focus {
    background-color: $dark-accent-color;
  }
}
