body {
    color: $primary-text-color;
    background-color: $primary-white-color;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  img {
    display: block;
    width: 100%;
  }